{% extends 'basic.html' %}
{% block title %}Product Detail - MedWeb{% endblock %}
{% block body %}


{% load static %}
<br>
<br>
<br>


    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/14.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Shop</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'home' %}"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Product Detail</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'messages.html' %}
    <!-- BREADCRUMB AREA END -->
<form action="/addtocart" method="post" id="contactf">
	{% csrf_token %}
    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="ltn__shop-details-inner mb-60">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ltn__shop-details-img-gallery">
                                    <div class="ltn__shop-details-large-img">
                                        <div class="single-large-img">
                                            <a href="/media/{{productdetails.Pro_image}}" data-rel="lightcase:myCollection">
                                                <img src="/media/{{productdetails.Pro_image}}" alt="Image">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-product-info shop-details-info pl-0">

                                    <h3>{{productdetails.Pro_name}}</h3>
                                    <div class="product-price">
                                        <span>Rs.{{productdetails.Pro_price}}</span>
                                    </div>
                                    <div class="modal-product-meta ltn__product-details-menu-1">
                                        <ul>
                                            <li>
                                                <strong>Category:</strong>
                                                <span>
                                                    {{productdetails.Pro_Cat.Product_category_name}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ltn__product-details-menu-2">
                                        <ul>
                                            <li>
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </li>
                                            <li>
                                                <fieldset style="display:none;">
                                                    <input type="hidden" name="pid" value="{{productdetails.id}}" />
                                                    <input type="hidden" name="pname" value="{{productdetails.Pro_name}}" />
                                                    <input type="hidden" name="amount" value="{{productdetails.Pro_price}}" />
							                    </fieldset>

                                                <a href="javascript:{}" class="theme-btn-1 btn btn-effect-1" title="Add to Cart" onclick="document.getElementById('contactf').submit();">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span>ADD TO CART</span>
                                                </a>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ltn__product-details-menu-3">
                                        <ul>
                                            <li>
                                                <a href="/addtowishlist/{{productdetails.id}}">
                                                    <i class="far fa-heart"></i>
                                                    <span>Add to Wishlist</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <hr>


                                    <div class="ltn__safe-checkout">
                                        <h5>Guaranteed Safe Checkout</h5>
                                        <img src="{% static 'img/icons/payment-2.png' %}" alt="Payment Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab Start -->
                    <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-bs-toggle="tab" href="#liton_tab_details_1_1">Description</a>

                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <p>{{productdetails.Pro_description}}</p>
                                   </div>
                            </div>

                        </div>
                    </div>
                    <!-- Shop Tab End -->
                </div>

            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->



<!-- Body main wrapper end -->

      <!-- All JS Plugins -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
{% endblock %}